[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/xchain-helpers"]
	path = lib/xchain-helpers
	url = https://github.com/marsfoundation/xchain-helpers
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/sparklend-address-registry"]
	path = lib/sparklend-address-registry
	url = https://github.com/marsfoundation/sparklend-address-registry
